{% load shared %}
<div class="form-group">
  {% formlabel form.name "Name" %}
  {% formfield form.name %}
  {{ form.name.errors }}
</div>
<div class="form-group">
  {% formlabel form.url_template "URL template" %}
  {% formfield form.url_template has_help=True %}
  {{ form.url_template.errors }}
  {% formhelp form.url_template %}
    Use <code>{name}</code> for placeholders, or <code>{name:Label}</code> for a custom label.
    Example: <code>https://jira.com/browse/PAC-{ticket:Ticket number}</code>
  {% endformhelp %}
</div>
<div class="form-footer d-flex mt-4">
  <input type="submit"
         name="save"
         value="Save"
         class="btn btn-primary btn-wide">
  <a href="{% url 'startpage:detail' start_page.id %}"
     class="btn btn-wide ml-auto">Cancel</a>
</div>
